@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-asap: "Asap Condensed", sans-serif;
  --color-verde: #025c61;
  --color-verdeoscuro: #024447;
  --color-verdeclaro: #5fb8a6;
  --color-marron: #bc974e;
  --color-bordo: #b71528;
  --color-mostaza: #f3c206;
}

/* Estilos globales adicionales */
body {
  background-color: #f9fafb; /* bg-gray-50 */
  color: #111827; /* text-gray-900 */
  font-family: "Asap Condensed", sans-serif;
}

.aparicion {
  animation: aparecer 2s linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}

@keyframes aparecer {
  from {
    opacity: 0;
    scale: 0.9;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.album-slide-exit {
  animation: slideOutToLeft 500ms forwards;
}

.album-slide-enter {
  animation: slideInFromRight 500ms forwards;
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.zoom {
  animation: zoomIn 0.5s forwards;
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
